
body {
  color: black;
}
container {
  border-radius: 15%;
}

#quote-box {
  width: 90%;
  height: 300px;
  position: absolute;
  margin: auto;
  background: pink;
  @extend container;
}
#text {
  width: 500px;
  height: 200px;
  color: black;
  background: white;
}
#author {
  width: 100%;
  height: 50%;
  color: black;
}