nav#menu
  header Doc Name
  ul
    li: a(class='x' href='#intro' rel='internal') Introduction
    li: a(class='x' href='#temp1' rel='internal') Placeholder 1
    li: a(class='x' href='#temp2' rel='internal') Placeholder 2
    li: a(class='x' href='#temp3' rel='internal') Placeholder 3
    li: a(class='x' href='#references' rel='internal') References
  
main#content
  section.topic#intro
    header Introduction
    article
      p Note: try resizing this page!
      p text
  section.topic#temp1
    header Placeholder 1
    article
      p text
      code code
  section.topic#temp2
    header Placeholder 2
    article
      p text
  section.topic#temp3
    header Placeholder 3
    article
      p text
  section.topic#references
    header References
    article
      p text